@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);
html {
   background: url(../img/arvopartbkgd.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
   font-family: 'Raleway', sans-serif;
   letter-spacing: 1px;
   color: white;
   width: fixed;
}

h3 {
   width: 380px;
   margin-left: 500px;
   margin-top: -765px;
   margin-right: 42px;
   margin-bottom: 600px;
   font-weight: normal;
   font-size: .75em;
   line-height: 1.7;
   padding-left: 10px;

}
#header {
   padding-bottom: 20px;
   padding-top: 40px;
   margin-left: 640px;
   margin-top: 5px;
   font-size: 60px;

}
#author {
   line-height: 2.3;
}
#songs {
   margin-top: 0px;
   margin-bottom: 450px;
   margin-left: 810px;
   font-size: 1.2em;
   line-height: 1.4;
   padding-top: 0px;
}
.songname {
   font-weight: bold;
}
.songbyline {
   padding-left: 22px;
   font-size: .8rem;
}

div:nth-of-type(1) {
   margin-left: 30px;
}

#reviews {
   background-color: rgba(0,0,0,0.5);
   padding:10px;
   font-size: 1.6em;
   padding: 20px;
   margin: 20px;
}
.review{
   padding: 20px;
   background-color: rgba(0,0,0,0.5);
   font-size: .7rem;
   line-height: 15px;
   margin:20px;


}


.list{
   font-size: .6rem;
}
div:nth-of-type(1) {
   margin-top: 300px;
   margin-bottom: 10px;
}

a:link {
    color: white;
}
a:visited {
   color:;
}
a {
   text-decoration: none;
}
